.root {
	color: black;
	// fiddley sizing based on font, since we are using unicode cards
	// Hopefully it's good on all platforms...
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
}

.outer {
	border-radius: .05em;
	background-color: white;
	display: table;
	padding: 0 .02em;
	line-height: 1;
}

.inner {
	display: table-cell;
}
